<!DOCTYPE html>
<html>
  <head>
    <title>VideoSync</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    </nav>
    <%= yield %>
    <footer class="footer navbar navbar-dark bg-dark"></footer>
  </body>
</html>
